:root {
    /* color */
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;

    /* 패딩과 마진을 줬을 때 박스에 포함되도록? */
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

ul {
    /* 리스트의 불렛을 없애주세요 */
    list-style: none;
}

/*버튼과, 버튼이 포커싱 되었을 때*/
button,
button:focus {
    border: none;
    cursor: pointer; /*버튼위에 커서 올리면 손가락으로 바뀜*/
    outline: none; /*무슨 차인지 모르겠다.*/
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logoAndName {
    font-size: var(--font-large);
}

header .logoAndName i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* video player */
.player {
    /*스크롤이 움직여도 동영상이 항상 상단에 위치하게*/
    position: sticky;
    top: 0; /*position할 위치 정해주는 것. 얘 없으면 sticky 안먹힙니다.*/

    /*공간이 여유로워질 때 플레이어를 중간에 위치 시키기*/
    text-align: center;

    /*배경인 섹션에 검은색 부여*/
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;

    /*동영상이 최대로 커질 수 있는 너비는 100픽셀*/
    max-width: 1000px;
}

/* video info*/
.info {
    padding: var(--padding);
}

.info .titleEtc .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .titleEtc .hashtags li {
    margin-right: var(--padding);
}

.info .titleEtc .titleAndBtn {
    display: flex;
}

.info .titleEtc .titleAndBtn .title {
    font-size: var(--font-medium);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*2줄이 넘어가면 더보기~*/
    overflow: hidden;

    margin-right: var(--padding);
}

.info .titleEtc .titleAndBtn .moreBtn {
    height: 100%; /* 가운데 쯤에 있더 버튼을 위로 딱 붙임*/
}

.info .viewsAndDate {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

/*5 buttons*/
.buttons {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.buttons button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.buttons button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

.buttons button i.active {
    color: var(--blue-color);
}

/* user discription */
.info .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.info .user img {
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.info .user .nameAndSubsbers {
    display: flex;
    align-items: center;
}

.info .user .nameAndSubsbers .info {
    display: flex;
    flex-direction: column;
}

.info .user .nameAndSubsbers .info .name {
    font-size: var(--font-medium);
}

.info .user .nameAndSubsbers .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-light-color);
}

.info .user button {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

/* up next */
.upNext {
    padding: 0 var(--padding);
}

.upNext > .title {
    /* section 태그 바로 밑에 있는 .title에만 적용시키기! */
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .videos {
    display: flex;
    margin-top: var(--padding);
}

.upNext .videos .img {
    flex: 1 1 35%; /*.img .details .threedot 중에서 35퍼센트 차지하겠다!*/
    margin-right: var(--padding);
}

.upNext .videos .img img {
    width: 100%; /*위의 35퍼를 차지하는 공간 안에서 100퍼센트로 있겠다?*/
}

.upNext .videos .details {
    flex: 1 1 60%; /*.img .details .threedot 중에서 60퍼센트 차지하겠다!*/
}

.upNext .videos .threeDot {
    flex: 1 1 5%; /*.img .details .threedot 중에서 5퍼센트 차지하겠다!*/
}

.upNext .videos .details {
    display: flex;
    flex-direction: column;
}

.upNext .videos .details .title {
    font-size: small;
}




.infoUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) { /*너비가 768이상 넘어가면 업넥스트를 오른쪽으로 넘겨버려*/
    .infoUpNext{
        flex-direction: row;
        margin: padding;
    }
}